FIREBASE_PROJECT_ID=<your-project-id>
FIREBASE_PRIVATE_KEY=<your-firebase-private-key>
FIREBASE_CLIENT_EMAIL=<your-firebase-client-email>
JWT_SECRET=<a-super-strong-secret>
PORT=<port-the-server-will-run-on>
